version: '3.8'

services:
  bot:
    build: .
    container_name: forus_bot
    restart: unless-stopped
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
    volumes:
      - ./data:/app/data
      - ./config.json:/app/config.json
    env_file:
      - .env

